<div class="website-item-inner">
  <div class="project-item-child">
    <p>{{name}}</p>
  </div>
  
  <div class="project-item-child">
    <p>{{type}}</p>
  </div>

  <div class="project-item-child">
    <p>{{language}}</p>
  </div>

  <div id="activate-button">
    <object><a href="/website/run?web_index={{website_index}}&proj_index={{project_index}}">Run</a></object>
  </div>

  <div id="activate-button">
    <object><a href="/website/delete?web_index={{website_index}}&proj_index={{project_index}}">Delete</a></object>
  </div>
</div>


