<!DOCTYPE HTML>

<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js">  </script>
</head>

<html>
  <body>
    <form action="/add/website"method="POST" class="body-wrapper">
      <label for="topic">Website URL:</label><br>
      <input type="text" id="website_url" name="website_url"><br><br>
      <label for="topic">WordPress Admin Login:</label><br>
      <input type="text" id="wp_login" name="wp_login"><br><br>
      <label for="topic">WordPress Application Password (this must be generated):</label><br>
      <input type="text" id="wp_password" name="wp_password"><br><br>
      <label for="topic">Offline? If yes, leave the other fields blank:</label><br>
      <input type="checkbox" id="is_online" name="is_offline"style="width:auto;" value="on">
      <input type="hidden" id="is_offline" name="is_offline"style="width:auto;" value="off">

      <label for="is_offline"> Offline (will output to .txt)</label><br><br>

      <div" class="button-wrapper">
        <input type="submit" class="generate-button"value="Add Website!" />
      </div>
    </form>
    {% if failed == 1 %}
    <p style="margin-left:1%;">One or more fields were typed incorrectly. Please try again.</p>
    {% endif %}
  </body>
</html>

<script>

$(function() {
  if(document.getElementById("is_online").checked) {
    console.log("CHECKED")
    document.getElementById('is_offline').disabled = true;


    }

});

</script>