<!DOCTYPE HTML>

<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js">  </script>
</head>

<html>
  <body>
    <div class="body-wrapper">
      <form id="create-project" action="/add/project/titles?index={{index}}" method="POST">
        <label for="topic">Project Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        
        Language:<br>
        <input type="radio" id="english" name="language" value="English" style="width:auto;" checked>
        <label for="english">English  </label>
        <input type="radio" id="french" name="language" value="French"style="width:auto;">
        <label for="french">French  </label>
        <input type="radio" id="spanish" name="language" value="Spanish"style="width:auto;">
        <label for="spanish">Spanish  </label>
        <input type="radio" id="german" name="language" value="German"style="width:auto;">
        <label for="german">German  </label><br><br>

        <label for="wordcount">Minimum Wordcount:</label><br>
        <input type="text" id="wordcount" name="wordcount"><br><br>
        <label for="titles">Titles:</label><br>
      </form>
      <textarea id="titles" name="titles" form="create-project" placeholder="Enter Titles here... (one per line)"></textarea>
      <div" class="button-wrapper">
        <button form="create-project" type="submit" class="generate-button">Add Project!</button>
      </div>
    </div>
    {% if failed == 1 %}
    <p style="margin-left:1%;">One or more fields were typed incorrectly. Please try again.</p>
    {% endif %}
  </body>
</html>


<script>
  $(function() {

    $("#submit").on("click",function(){
      var website_url = document.getElementById('website_url').value;
      var wp_login = document.getElementById('wp_login').value;
      var wp_password = document.getElementById('wp_password').value;
      var json_data = JSON.stringify({website_url:website_url, wp_login:wp_login, wp_password:wp_password});
      
			$.ajax({
        type: "POST",
        url: "/create/website",
        contentType: "application/json",
        dataType: "JSON",
        data: json_data,
        success: function(data, textStatus) {
          console.log(data);


        }
      });
		});
  
  
  });


</script>