<!DOCTYPE HTML>

<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js">  </script>
</head>

<html>
  <body>
    <div id="body-box">
      <h1 id="main-title">Current Websites</h1>
      
      <div id="main-section">
        <div id="#website-list" class="list">
          {% if websites|length == 0%}
          <p id="empty-message">You currently have no websites configured</p>
          {% else %}
            <div id="table-header" >
              <div class="website-item-inner">
                <div class="website-item-child">
                  <p>Website URL</p>
                </div>
              
                <div class="website-item-child">
                  <p>Login</p>
                </div>
              
                <div class="website-item-child">
                  <p># of Projects</p>
                </div>
              </div>
            </div>
            {% for website in websites %}
              {% with website_url=website.website_url, login=website.login, num_projects=website.projects|length , index=loop.index-1%}
              <div class="website-item"><a href="/website?index={{loop.index-1}}" style="text-decoration: none;">{% include "partials/website-item.html" %}</a></div>
              {% endwith %}
              {% if loop.index != websites|length %}
              <hr class="solid">
              {% endif %}
            {% endfor %}
          {%endif%}
        </div>
      </div>
      <div class="outer-button-wrapper">
        <form action="/addwebsite"class="button-wrapper">
          <input type="submit" class="generate-button-side"value="Add new website" />
        </form>
        <form action="/save"class="button-wrapper">
          <input type="submit" class="generate-button-side"value="Save All" />
        </form>
      </div>
    </div>
  </body>
</html>


